:root {
    font-size: 16px;

    nav > ul {
        display: flex;
    
        & > li {
            margin-right: 1rem;
            list-style: none;
            cursor: pointer;

            a {
                text-decoration: none;
            }
        }
    }

    main {
        padding: 0 1rem;
    }
}

* {
    box-sizing: border-box;
}